block navbar
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container
              //a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              //  span.icon-bar
              //  span.icon-bar
              //  span.icon-bar
              a.brand(href='/') #{title}
              ul.nav
                li
                  a(href='javascript: void(0)', id='home') #{bookname}
              p.navbar-text.pull-right
                ul.nav.pull-right.dropdown
                  a.btn.btn-inverse.dropdown-toggle(data-toggle='dropdown', href='#').navTitle
                    | 目錄 
                    span.caret
                  ul.dropdown-menu
                    - for (var key in links)
                      li
                        a(href='javascript: void(0)', data-pageNumber='#{key}').pageButton= links[key]
              //.nav-collapse.collapse
              //  ul.nav
              //    - for (var key in links)
              //      li
              //        a(href='javascript: void(0)').pageButton= links[key]


