!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
  body
    block file-update
    
    block file-list
    
    block file-info
    script(type='text/javascript', src='/lib/jquery/jquery-1.8.1.min.js')
    script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')
    
    script(src="javascripts/layout_config.js")


