.nodeReaderNav {
    z-index:400;
    
}
.nodeReaderList {
    overflow: hidden;
    
}
#nodeReaderIframe {
    border: 0px solid #000;
    margin: 0 auto;
    width:80%;
    overflow-x:hidden;
}
.nodeReaderContainer {
    overflow:hidden;
    width:100%;
    
    
    text-align: center;
    
}

#nodeReaderPageTurn {
    position: fixed;
    z-index:300;
    left:0;
    right:0;
    top:50px;
    bottom:0;
    
}
.pageTurnArea {
    width:48px;
    position: absolute;
    z-index:300;
    top:0;
    bottom:0;
    height:100%;
    cursor: pointer;
}
.arrowLeft {
    left:0;
}
.arrowRight {
    right:0;
}
.arrowLeft .arrowButton {
    background: url("../images/ui_item.png") -0px -48px no-repeat transparent;
}
.arrowLeft:hover .arrowButton{
    background: url("../images/ui_item.png") -0px -0px no-repeat transparent;
}
.arrowRight .arrowButton {
    background: url("../images/ui_item.png") -48px -48px no-repeat  transparent;
}
.arrowRight:hover .arrowButton {
    background: url("../images/ui_item.png") -48px -0px no-repeat  transparent;
}
.arrowButton {
    position: relative;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 979px) {
    #nodeReaderPageTurn {
        top:38px;
    }
}
.navTitle {
    font-size: 120%;
}
