extends layout

block content
  include includes/navbar
  .container.nodeReaderNavfluid.nodeReaderContainer
    iframe(id='nodeReaderIframe' )
  #nodeReaderPageTurn
    .pageTurnArea.arrowLeft
       .arrowButton
    .pageTurnArea.arrowRight
       .arrowButton 
